<head>
    <style>
        #listview
        {
                height: 400px;
                overflow: auto;
        }
    </style>
</head>
<section data-ng-controller="InterndbsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Intern data</h1>
    </div>
    <div>
       <input type='text' ng-model='searchterm' >
       <button class="btn" ng-click="search()">Search</button>
    </div>
    <div id="listview"  ng-show="!searchflag" infinite-scroll='addmore()'>
        <a data-ng-repeat="interndb in interndbs" data-ng-href="#!/interndbs/{{interndb._id}}" class="list-group-item">
			
			<h4 class="list-group-item-heading" data-ng-bind="interndb.name"></h4>
        </a>
    </div>
    <div id="listview" ng-show="searchflag" infinite-scroll='searchmore()'>
        <a data-ng-repeat="inter in arr" class="list-group-item">
          
            <h4 class="list-group-item-heading" data-ng-bind="inter.name">{{inter.name}}</h4>
            
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!interndbs.$resolved || interndbs.length">
    	No Interndbs yet, why don't you <a href="/#!/interndbs/create">create one</a>?
    </div>
</section>
