<section data-ng-controller="RepoModulesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Repo modules</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="repoModule in repoModules" data-ng-href="#!/repo-modules/{{repoModule._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="repoModule.created | date:'medium'"></span>
				by
				<span data-ng-bind="repoModule.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="repoModule.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!repoModules.$resolved || repoModules.length">
    	No Repo modules yet, why don't you <a href="/#!/repo-modules/create">create one</a>?
    </div>
</section>